# =============================================
# TWILIO
# =============================================
# Encontre no painel: https://console.twilio.com
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=seu_auth_token_aqui

# Sandbox: +14155238886
# Produção: seu número aprovado pela Meta
TWILIO_WHATSAPP_NUMBER=+14155238886

# =============================================
# SUPABASE
# =============================================
# URL do supabase para realizar as operações de banco de dados.
SUPABASE_URL=https://supabase-url.com.br
# Chave secreta do supabase para autenticação e acesso ao banco de dados.
SUPABASE_SECRET_API_KEY=123456

# =============================================
# API
# =============================================
# IP Local para desenvolvimento.
ALLOWED_IPS=127.0.0.1
