# =============================================
# TWILIO
# =============================================
# Encontre no painel: https://console.twilio.com
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=seu_auth_token_aqui

# Sandbox: +14155238886
# Produção: seu número aprovado pela Meta
TWILIO_WHATSAPP_NUMBER=+14155238886

# =============================================
# API
# =============================================
API_KEY=123
# IP Local para desenvolvimento.
ALLOWED_IPS=127.0.0.1
