<div class="page-header">
  <h2>Instituições</h2>
</div>

<div class="form-section">
  <h1>Instituições</h1>

  <hr />

  <h3 id="formTitle">Nova Instituição</h3>

  <form id="institutionForm">
    <div class="mb-3">
      <label class="form-label"> Nome </label>

      <input id="institutionName" class="form-control" required />
    </div>

    <div class="mb-3">
      <label class="form-label"> Key Hash </label>

      <input id="keyHash" class="form-control" required />
    </div>

    <button id="submitInstitutionButton" type="submit" class="btn btn-primary">
      Cadastrar
    </button>

    <button
      id="cancelEditButton"
      type="button"
      class="btn btn-secondary ms-2 d-none"
    >
      Cancelar Edição
    </button>
  </form>

  <hr />

  <h3>Instituições Cadastradas</h3>

  <div id="deleteConfirmation" class="alert alert-danger d-none" role="alert">
    <p class="mb-3">
      Tem certeza que deseja excluir a instituição
      <strong id="deleteInstitutionName"></strong>?
    </p>

    <button id="confirmDeleteButton" class="btn btn-danger btn-sm">
      Confirmar Exclusão
    </button>

    <button id="cancelDeleteButton" class="btn btn-secondary btn-sm ms-2">
      Cancelar
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody id="institutionsTable"></tbody>
  </table>
</div>
